<div class="container">
    <div class="row">

        <div class="col-xs-12 col-sm-12 col-sm-offset-0 col-md-10 col-md-offset-1">

            <!--unordered list-->
            <ul>
                <li class="wow fadeInRight">Profitiere von der Erfahrung und dem Wissen der Studenten an deiner Hochschule, die deinen Kurs schon erfolgreich bestanden haben und genau wissen, wie du dich vorbereiten musst.</li>
                <li data-wow-delay="0.5s" class="wow fadeInRight">Suche online, buche online. Volle Transparenz über das Wissen und die Fähigkeiten der Tutoren, überprüft durch hohe Qualitätsstandards. Nicht zufrieden? Geld zurück!</li>
                <li data-wow-delay="1.0s" class="wow fadeInRight">Erhalte einen schnellen und kompakten Überblick über den wirklich relevanten Stoff für die bevorstehenden Prüfungen und lass keine Fragen offen.</li>
                <li data-wow-delay="1.5s" class="wow fadeInRight">5,0 - durchgefallen? Lass es der Vergangenheit angehören. Beende dein Studium mit besseren Noten, in kürzerer Zeit und mit weniger Kopfschmerzen. Study Smart.</li>
            </ul>

        </div><!--column-->

    </div><!--row-->
</div><!--container-->




