<div class="container">
    <div class="row">
        <div class="col-xs-12 centered">
            <div id="goodbye-small" class="visible-xs-block">
                <li><a href="http://www.twitter.com/GoStudito"><i class="fa fa-twitter fa-3x"></i></a></li>
                <li><a href="http://www.facebook.com/GoStudito"><i class="fa fa-facebook fa-3x"></i></a></li>
            </div>

            <div id="goodbye-large" class="hidden-xs">
                <li><a href="http://www.twitter.com/GoStudito"><i class="fa fa-twitter"></i> Du möchtest uns was sagen ;) ?</a></li>
                <li><a href="http://www.facebook.com/GoStudito"><i class="fa fa-facebook"></i> Stalk uns auf Facebook!</a></li>
            </div>

        </div>
    </div>
</div>