/*Corporate colours*/
$turquoise: #1abc9c;
$dark-turquoise: #16a085;
$skyblue: #527593;
$steelblue: #35495e;
$asbestos: #7f8c8d;
$gray85: #d9d9d9;
$ivory: #fbf8f1;
$rust: #bf4212;
$raspberry: #c0392b;
$suicide: #232526;


/*Corporate fonts*/
  /*Font weights*/
  $regular: 400;
  $semi-bold: 600;

  /*Base font*/
  $base-font-family: 'Raleway', sans-serif;
  $base-font-weight: $regular;
  $base-font-size: 14px;
  $base-line-height: 1.4;

  /*Secondary font*/
  $secondary-font-family:'Pacifico', cursive;