Bitte bestätige deine Email {{email}}.

** Email bestätigen
------------------------------------------------------------
{{verifyURL}}

** Vielen Dank für dein Interesse an Studito!
------------------------------------------------------------
Kurz: Studito wird eine Tutoring Plattform welche Studenten
mit erfahrenen Tutoren aber auch Studenten untereinander poolt
um sich effektiv auf schwierige Prüfungen vorbereiten zu können.

Wir arbeiten mit Hochdruck an der Entwicklung der Web-Plattform.
Wann wir an deine Hochschule kommen hängt von der Auswertung der
Pre-Launch Kampagne ab, wozu du mit deiner Stimme beiträgst.

Bis es soweit ist, erfährst du Neuigkeiten auf
www.facebook.com/GoStudito und www.twitter.com/GoStudito.
============================================================