<div id="launch">

    <div class="launch-wrapper">
        <!--hello-->
        <div id="launch-hello" data-ui-view="hello"></div>

        <!--explain-->
        <div id="launch-explain" data-ui-view="explain"></div>

        <!--unique-->
        <div id="launch-unique" data-ui-view="unique"></div>

        <!--review-->
        <div id="launch-review" data-ui-view="review"></div>

        <!--campaign-->
        <div id="launch-campaign" data-ui-view="campaign"></div>

        <!--media-->
        <div id="launch-media" data-ui-view="media"></div>
    </div>

    <div class="footer">
        <!--goodbye-->
        <div id="launch-goodbye" data-ui-view="goodbye"></div>
    </div>

</div>