<section data-ng-controller="DegreesCtrl" data-ng-init="findOne()">

    <!--Begin of row-->
    <!--Degrees section-->
    <!-- --------------------------------------------------------------------------------------------------------- -->
    <div class="row">
        <!--Page header-->
        <div class="col-xs-12 page-header">
            <h3 style="margin-bottom: 0;" data-ng-bind="degree.university.shortName"></h3>
            <h1>Studiengang bearbeiten</h1>
        </div>

        <!--Button group-->
        <div class="col-xs-12">
            <div class="pull-right btn-group">
                <!--Back button-->
                <a class="btn btn-default" href="/#!/universities/{{degree.university._id}}/degrees/{{degree._id}}">
                    <i class="fa fa-arrow-circle-left"></i> Back
                </a>
                <!--Delete button-->
                <a class="btn btn-danger" data-ng-click="remove();" data-ng-show="authentication.user._id == degree.creator._id">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </div>
        </div>

        <!--Degree Form-->
        <!--find() is called merely for bootstrap ui typeahead purposes. It does not need to be resolved upfront prior rendering the view.-->
        <form name="degreeForm" class="form-horizontal" data-ng-init="find()" data-ng-submit="update(degreeForm.$valid)" novalidate>
            <fieldset class="col-xs-12 col-md-6">

                <!--Degree full path-->
                <div class="form-group" ng-class="{ 'has-error' : degreesForm.fullPath.$dirty && degreesForm.fullPath.$invalid}">
                    <label class="control-label" for="fullPath">Vollständiger Name des Studiengangs</label><br>
                    Beispiel: "Banking and Finance"
                    <div class="controls">
                        <input name="fullPath" type="text" data-ng-model="degree.fullPath" id="fullPath" class="form-control" placeholder="fullPath" required/>
                    </div>
                    <div ng-show="submitted && degreeForm.fullPath.$invalid" class="help-block">
                        <p data-ng-show="degreeForm.fullPath.$error.required" class="text-danger">Dieses Eingabefeld ist zwingend erforderlich</p>
                    </div>
                </div>

                <!--Degree short path-->
                <div class="form-group" ng-class="{ 'has-error' : degreesForm.shortPath.$dirty && degreesForm.shortPath.$invalid}">
                    <label class="control-label" for="shortPath">Abkürzung</label><br>
                    Beispiel: "MBF"
                    <div class="controls">
                        <input name="shortPath" type="text" data-ng-model="degree.shortPath" id="shortPath" class="form-control" placeholder="shortPath" required/>
                    </div>
                    <div ng-show="submitted && degreeForm.shortPath.$invalid" class="help-block">
                        <p data-ng-show="degreeForm.shortPath.$error.required" class="text-danger">Dieses Eingabefeld ist zwingend erforderlich</p>
                    </div>
                </div>

                <!--Degree level-->
                <div class="form-group">
                    <div class="btn-group">
                        <label class="btn btn-primary" data-ng-model="degree.level" btn-radio="'Bachelor'">Bachelor</label>
                        <label class="btn btn-primary" data-ng-model="degree.level" btn-radio="'Master'">Master</label>
                        <label class="btn btn-primary" data-ng-model="degree.level" btn-radio="'Diplom'">Diplom</label>
                        <label class="btn btn-primary" data-ng-model="degree.level" btn-radio="'Lehramt'">Lehramt</label>
                        <label class="btn btn-primary" data-ng-model="degree.level" btn-radio="'Staatsexamen'">Staatsexamen</label>
                    </div>
                </div>

                <!--Degree description-->
                <div class="form-group">
                    <label class="control-label" for="description">Beschreibung</label>
                    <textarea class="form-control" id="description" data-ng-model="degree.description" rows="6" placeholder="Kurz. Prägnant. Aufschlussreich.">
                    </textarea>
                </div>

                <!--Submit button-->
                <div class="form-group">
                    <input type="submit" class="btn btn-default" value="Bearbeiten">
                </div>

                <!--Error display-->
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>

            </fieldset>

        </form>

    </div>

</section>