<section>

    <!--Begin of row-->
    <!--University section-->
    <!-- --------------------------------------------------------------------------------------------------------- -->
    <div class="row">
        <!--Page header-->
        <div class="col-xs-12 page-header">
            <h3 style="margin-bottom: 0;" data-ng-bind="vm.degree.university.shortName"></h3>
            <h1 data-ng-bind="vm.degree.fullPath"></h1>
        </div>

        <div class="col-xs-12">
            <!--Button group-->
            <div class="pull-right btn-group" data-ng-controller="DegreesCtrl" data-ng-init="findOne()">
                <!--Back button-->
                <a class="btn btn-default" href="/#!/universities/{{degree.university._id}}">
                    <i class="fa fa-arrow-circle-left"></i> Back
                </a>
                <!--Edit button-->
                <a class="btn btn-primary" href="/#!/universities/{{degree.university._id}}/degrees/{{degree._id}}/edit" data-ng-show="authentication.user._id == degree.creator._id">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
                <!--Delete button-->
                <a class="btn btn-danger" data-ng-click="remove();" data-ng-show="authentication.user._id == degree.creator._id">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </div>

            <!--Display of update information-->
            <small>
                <em class="text-muted">
                    Aktualisiert von
                    <span data-ng-bind="vm.degree.updater.displayName"></span>
                    <!--several seconds ago-->
                    <span am-time-ago="vm.degree.updated"></span>
                </em>
                <p class="lead" data-ng-bind="vm.degree.shortPath"></p>
            </small>
        </div>

        <div class="col-xs-9" ng-cloak>
            <table class="table">
                <thead>
                <tr>
                    <th>Bezeichnung</th>
                    <th>Wert</th>
                </tr>
                </thead>
                <tbody class="table-striped table-condensed">
                <tr>
                    <td>Full Path</td>
                    <td>{{vm.degree.fullPath}}</td>
                </tr>
                <tr>
                    <td>Short Path</td>
                    <td>{{vm.degree.shortPath}}</td>
                </tr>
                <tr>
                    <td>Level</td>
                    <td>{{vm.degree.level}}</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>{{vm.degree.description}}</td>
                </tr>
                <tr>
                    <td>Updated on</td>
                    <td>{{vm.degree.updated}}</td>
                </tr>
                <tr>
                    <td>Updated by</td>
                    <td>{{vm.degree.updater.username}}</td>
                </tr>
                <tr>
                    <td>Created on</td>
                    <td>{{vm.degree.created}}</td>
                </tr>
                <tr>
                    <td>Created by</td>
                    <td>{{vm.degree.creator.username}}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-xs-3">
            <h3>Aktuelle Voranmeldungen</h3>
            <h1>{{vm.degree.leads}}</h1>
        </div>

    </div>
    <!-- --------------------------------------------------------------------------------------------------------- -->
    <!--End of row-->

    <!--Begin of row-->
    <!--Subject section-->
    <!-- --------------------------------------------------------------------------------------------------------- -->
    <div class="row">
        <div class="col-xs-12 page-header">
            <h1>Angebotene Studienfächer</h1>
        </div>

        <!--ui.grid-->
        <div class="col-xs-9" data-ng-if="vm.subjects.$resolved && vm.subjects.length">
            <div ui-grid="gridSubjectsList" ui-grid-selection ui-grid-resize-columns id="listSubjectsGrid" class="grid-subjects-list"></div>
        </div>

        <!--Details Button-->
        <div class="col-xs-3" data-ng-show="selectedRow[0]">
            <h4>{{selectedRow[0].shortTitle}}</h4>

            <a class="btn btn-default" href="/#!/universities/{{vm.degree.university._id}}/subjects/{{selectedRow[0]._id}}">
                <i class="glyphicon glyphicon-th-list"></i> Details
            </a>
        </div>

        <!--Create One-->
        <div class="col-xs-12 alert alert-warning text-center" data-ng-if="vm.subjects.$resolved && !vm.subjects.length">
            Keine Einträge bisher, wieso <a href="/#!/universities/{{vm.degree.university._id}}/subjects/create?degree={{vm.degree._id}}">erstellst</a> du keinen?
        </div>

        <div style="margin-top: 15px;" class="col-xs-12" data-ng-if="vm.subjects.$resolved && vm.subjects.length">
            <a class="btn btn-primary" href="/#!/universities/{{vm.degree.university._id}}/subjects/create?degree={{vm.degree._id}}">
                <i class="glyphicon glyphicon-file"></i> Erstellen
            </a>
        </div>

    </div>
    <!-- --------------------------------------------------------------------------------------------------------- -->
    <!--End of row-->

</section>