<div class="container container-xs-height">
    <!--row-->
    <div class="row row-xs-height">
        <!--column = gray box-->
        <div id="hello-success" class="col-xs-12 col-sm-10 col-md-8 col-lg-7 centered">

            <h1>Studito</h1>

            Vielen Dank für dein Interesse <span class="glyphicon glyphicon-heart"></span> an Studito.
            Wir haben dir gerade eine Nachricht zur Verifizierung deiner Email geschickt. Sobald es losgeht erfährst du's als Erstes.

            Folge uns doch auf <a href="http://www.twitter.com/GoStudito"><span class="fa fa-twitter"></span> Twitter</a> oder
            <a href="http://www.facebook.com/GoStudito"><span class="fa fa-facebook"></span> Facebook</a> falls du mehr über uns erfahren möchtest.

        </div>
    </div>
</div>
